.fo {
  margin-top: 30Vh;
  padding:0;
  display: flex;
  justify-content: center;
  min-height: auto;
  background: #0d0f11;
  font-family: consolas;
  border-radius: 50px;
}
.a {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #dd1515;
  text-transform:uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 30px;
  overflow: hidden;
  transition: 0.4s;
  border-radius: 20px;

}
.a:hover
{
  color:#faf8f8;
  background: #dd1515;
  box-shadow: 0 0 10px #dd1515, 0 0 40px #dd1515, 0 0 80px
  #dd1515;
  transition-delay: 0.5s;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 10px;
  font-size: 20px;
}