.fo {
  margin-top: 30Vh;
  padding:0;
  display: flex;
  justify-content: center;
  min-height: auto;
  background: #0d0f11;
  font-family: consolas;
  border-radius: 50px;
}
.a {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #dd1515;
  text-transform:uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 30px;
  overflow: hidden;
  transition: 0.4s;
  border-radius: 20px;

}
.a:hover
{
  color:#faf8f8;
  background: #dd1515;
  box-shadow: 0 0 10px #dd1515, 0 0 40px #dd1515, 0 0 80px
  #dd1515;
  transition-delay: 0.5s;
}
.b {
  padding: 10px 10px;
  color: #dd1515;
  text-transform:uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.4s;
  border-radius: 2px;
}

.b:hover
{
  transform: scale(1.3);
}

.image {
  width: 50%;
  margin-left: -8Vh;
}

.image:hover {
  transform: scale(1.3);
}

.logo {
  font-size: 70px;
}

.logo:hover {
  transform: scale(1.3);
}

.button {
  font-size: 70px;
  max-width: '100%';
  min-width: 400px;
  margin-left: 5Vw;
  margin-top: 3Vh;
  margin-bottom: 3Vh;
  padding: 12px 20px;
  border-radius: 5px;
  background-color: rgb(27, 24, 24);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  font-size: 50px;
  font-weight: 500;
  color:orangered;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.3);
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 10px;
  font-size: 20px;
}